*{
    padding: 0;
    margin: 0;
    font-family: cursive;
}
body{
    height: 100vh;
    width: 100%;
    background: url(image/fond\ ecran.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(0px);
}
.Show_game{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background: #00000015;
    width: 50%;
    height: 90%;
    border-radius: 40px;
    box-shadow: 0 0 10px 0 white;
    transform: skewY(-1deg);
}
h1{
    font-size: 2em;
    color: white;
}
p{
    font-size: 1.4em;
    color: rgb(255, 255, 255);
    transition: 0.15s ease;
}
.letter-X{
    color: orange !important;
}
.letter-O{
    color: rgb(116, 20, 160) !important;
}
.morpion{
    width: 60%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    transform: skewY(0deg);
}
.case{
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    color: azure;
    font-size: 4em;
    text-align: center;
    box-shadow: inset 0 0 20px 5px white;
    text-shadow: 5px 2px 8px  rgba(0, 0, 0, 0.575);
}
.case:hover{
    scale: 0.9;
    box-shadow: 0 0 15px 6px rgb(164, 17, 233);
}
.parameter{
    display: flex;
    gap: 20px;
}
.parameter p{
    font-size: 1.3em;
}
.parameter button{
    margin: auto;
    padding: 12px 15px;
    border: none;
    border-radius: 10px;
    transform: skewY(10deg);
    cursor: pointer;
}

/* div de la fin de partie */

#ShowGameEnd{
    position: absolute;
    background: rgba(255, 255, 255, 0.95);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) skewY(0deg);
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    visibility: hidden;
}
#ShowGameEnd p{
    color: black;
}



/* générateur de bulle */
.generator_bubble{
    position: absolute;
    background: #ffffff00;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) skewY(0deg);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    visibility: hidden;
    z-index: -1;
    overflow: hidden;
}
.bubble{
    content: "";
    position: absolute;
    background: #db1414;
    border-radius: 50%;
    border: none;
    transform: translate(-50%,-50%);
    opacity: 0;
    filter: hue-rotate(0);
    animation: Anim 5s forwards;
}
@keyframes Anim{
    to{
        top: -250px;
        left: var(--left);
        opacity: 1;
        filter: hue-rotate(400deg);
    }
}