*{
    padding: 0;
    margin: 0;
    font-family: cursive;
}
body{
    height: 100vh;
    width: 100%;
    background: url(image/fond\ ecran.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
    overflow: hidden;
}
.Show_game{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 50%;
    height: 90%;
    border-radius: 40px;
    background: #00000013;
    box-shadow: 0 0 10px 5px rgb(177, 112, 214) , 0 10px 1px rgb(177, 112, 214);
    transition: background 1s;
    animation: animShowGame 2s;
}
.Show_game:hover{
    background: #0000003d;
}
@keyframes animShowGame {
    0%{
        scale: 0.1;
        background: #ffffff;
    }
    80%{
        scale: 1.1;
    }
    100%{
        scale: 1;
    }
}
.Show_game p{
    color: white;
    font-size: 1.2em;
}
h1{
    font-size: 2em;
    color: rgb(255, 255, 255);
}

.letter-X{
    color: rgb(255, 230, 0) !important;
    text-shadow: 0 10px 10px  rgb(255, 13, 215) !important;
}
.letter-O{
    color: rgb(255, 255, 255) !important;
    text-shadow: 0 5px 15px  rgb(0, 60, 255) !important;
}
.morpion{
    width: 60%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.case{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    color: azure;
    font-size: 4em;
    text-align: center;
    box-shadow: inset 0 0 20px 5px white;
    text-shadow: 5px 2px 8px  rgba(0, 0, 0, 0.575);
    backdrop-filter: blur(0.5px);
}
.case:hover{
    scale: 0.9;
    box-shadow: 0 0 15px 6px rgb(164, 17, 233);
}
.parameter{
    display: flex;
    position: relative;
    width: 80%;
}
.parameter button{
    margin: auto;
    padding: 12px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: rgb(0, 255, 221);
    font-size: 1.2em;
    box-shadow: 0 6px 1px rgb(7, 190, 166) , 0 0 20px 2px rgb(0, 255, 221) ;
}
.parameter button:hover{
    box-shadow: inset 0 0 20px 2px rgb(5, 197, 171) , 0 0 20px 2px rgb(9, 231, 202);
    position: relative;
    top: 5px;
}
.parameter p{
    color: white;
    font-size: 1.2em;
}
.fa-expand{
    font-size: 2.5em;
    position: absolute;
    bottom:5%;
    right: 5%;
    cursor: pointer;
}




                      /* affichage de la fin de partie */


#ShowGameEnd{
    position: absolute;
    background: rgba(255, 255, 255, 0.95);
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    visibility: hidden;
    box-shadow: 0 15px 2px rgb(214, 212, 212) , 0 0 30px 0 rgb(175, 171, 171);
    transition: 0.25s ease-out;
}
#ShowGameEnd p{
    font-size: 2.2em;
    margin-bottom: 5px;
}
#ShowGameEnd h2{
    font-size: 2.5em;
    text-transform: uppercase;
    border-bottom: 3px solid;
    margin-bottom: 10px;
}
.affichage{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin-top: 45px;
    margin-bottom: 30px;
    width: 90%;
    height: 100%;
}
.affichage .score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background: #5c0f88;
    border-radius: 20px;
    padding: 30px;
    width: 65%;
    height: 50%;
    box-shadow: 0 -10px 1px #4a0c6d , 0 0 10px 0 #5c0f88 ;
}
.affichage .buttonParameter{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20%;
}
.affichage .buttonParameter .RestartScore{
    padding: 10px;
    text-align: center;
    width: 70%;
    border: none;
    border-radius: 20px;
    background: rgb(7, 150, 38);
    color: white;
    font-size: 1.5em;
    box-shadow: 0 -10px 1px rgb(17, 134, 7) ,0 0px 20px rgba(8, 185, 61, 0.568);
    transition: 0.5s;
}
.affichage .buttonParameter .RestartScore:hover{
    box-shadow: inset 0 0px 20px rgb(3, 119, 32);
    margin-top: 5px;
    scale: 0.99;
    cursor: pointer;
}
.affichage .buttonParameter .restartButton{
    padding: 10px;
    text-align: center;
    width: 70%;
    border: none;
    border-radius: 20px;
    background: rgb(57, 3, 253);
    color: white;
    font-size: 1.5em;
    box-shadow: 0 -10px 1px rgb(46, 8, 185) ,0 0px 20px rgba(46, 8, 185, 0.568);
    transition: 0.5s;
}
.affichage .buttonParameter .restartButton:hover{
    box-shadow: inset 0 0px 15px rgb(23, 3, 95);
    margin-top: 5px;
    scale: 0.99;
    cursor: pointer;
}
.affichage .score p{
    color: azure;
    font-size: 2em;
}
.affichage .score span{
    color: rgb(255, 255, 255);
}




                           /* générateur de bulle */
.generator_bubble{
    position: absolute;
    background: #ffffff00;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) skewY(0deg);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    visibility: hidden;
    z-index: -1;
    overflow: hidden;
}
.bubble{
    content: "";
    position: absolute;
    background: #db1414;
    border-radius: 50%;
    border: none;
    transform: translate(-50%,-50%);
    opacity: 0;
    filter: hue-rotate(0);
    animation: Anim 5s forwards;
}
@keyframes Anim{
    to{
        top: -250px;
        left: var(--left);
        opacity: 1;
        filter: hue-rotate(400deg);
    }
}




/* RESPONSIVE */

@media (min-width: 1300px) {
    p{
        font-size: 1.9em !important;
    }
    h1{
        font-size: 2.5em ;
    }
    h2{
        font-size: 2.2em;
    }
    .case{
        font-size: 6.5em;
    }
    button{
        font-size: 1.8em !important;
    }
    .affichage{
        margin-top: 100px;
    }
    .parameter .fa-expand{
        font-size: 4em;
    }
}